.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    z-index: 999;
    transition: 0.4s;
}

.header::after {
    content: "";

    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}


.header.on {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header:hover {
    background: #fff;

}

.header .hd_wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 120px;
    transform: height 0.4s;
}

.header.on .hd_wrap {
    height: 80px;
}

.header .hd_wrap h1 a {
    display: block;
    width: 206px;
    height: 70px;
    background: url(../imges/logo.png);
}

.header .hd_wrap h1 img {
    height: 40px;
}

.header h1 {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.header .gnb::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;

    height: 0;

    background: #fff;

    transition: 0.4s;
}

.header.on .gnb::before {
    top: 80px;
}

.header .gnb:hover::before {

    height: 240px;
}

.header .gnb>ul {
    display: flex;
}


.header .gnb>ul>li>a {
    display: block;
    line-height: 120px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;

    padding: 0 60px;
}

.header.on .gnb>ul>li:hover {

    background: #ff0;
}


.header .gnb>ul>li:hover {
    background: #ff0;
}

.header.on .gnb>ul>li>a {
    line-height: 120px;
    color: #333;
}

.header .gnb:hover>ul>li>a {
    line-height: 120px;
    color: #333;

}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    z-index: 2;
    font-size: 14px;
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.header .gnb:hover>ul>li ul {
    height: 240px;
}

.header .gnb>ul>li:hover ul {
    background: #ff0;
}

.header .gnb>ul>li ul a {
    display: block;
    color: #333;
    line-height: 40px;
    padding: 0 24px;
    text-align: center;
    white-space: nowrap;
}




.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 80px);
    z-index: 1;
}

.main_visual .main_visual_slide .itm01 {
    background: url(../imges/main_visual01.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../imges/main_visual03.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(..//imges/main_visual02.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1170px;
    width: 100%;
}

.main_visual .main_visual_slide .txt strong {
    display: block;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.main_visual .main_visual_slide .txt p {
    font-size: 72px;
    font-weight: 900;
    color: #000000;
    line-height: 1.1;
}

.main_visual .main_visual_slide .txt strong.w {
    color: #184717;
}

.main_visual .main_visual_slide .txt p.w {
    color: #082509;
}


.main_visual .main_visual_slide .txt strong.t {
    color: #8a582f;
}

.main_visual .main_visual_slide .txt p.t {
    color: #4d2711;
}

.main_visual .main_visual_slide .txt strong.e {
    color: #8a412f;
}

.main_visual .main_visual_slide .txt p.e {
    color: #994515;
}


.main_visual .arrows {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1530px;
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

    width: 80px;
    height: 80px;
    background: rgba(5, 17, 56, 0.5);
    border-radius: 50%;
}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .wheel {
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.main_visual .wheel::before {
    content: "";
    position: absolute;
    z-index: 999;
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32px;
    height: 48px;
    border: 2px solid #fff;
    border-radius: 16px;
}

.main_visual .wheel::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 8px;
    background: #fff;

    animation: wheel 1s infinite;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, 4px);
    }
}


.main_best {}

.main_best .inner {
    display: flex;
    gap: 30px;
}

.main_best .inner>* {
    flex: 1;
}

.main_best .inner .itm img {
    width: 100%;
}

.main_best .inner .itm p {
    margin-top: 16px;
    text-align: center;
}

.main_banner {
    background: url(../imges/main_product01.jpg)no-repeat center center/cover;
    background-attachment: fixed;
}

.main_banner .title {
    margin-bottom: 0;
}

.main_banner .title h2 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2em;
}

.main_product {
    position: relative;
}

.main_product .inner {
    overflow: hidden;
}

.main_product .main_product_slide {
    margin: 0 -15px;
}

.main_product .itm {
    margin: 0 15px;
}

.main_product .itm p {
    margin-top: 16px;
    text-align: center;

}

.main_product .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1410px;
    width: 100%;
}


.main_product .arrows button {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
}

.main_product .arrows .prev {
    left: 0;
}

.main_product .arrows .next {
    right: 0;
}


.main_product .slick-dots {
    display: flex;
    gap: 8px;
    margin-top: 24px;
    justify-content: center;
}

.main_product .slick-dots li button {
    background: #707070;
    width: 16px;
    height: 16px;
    font-size: 0px;
    border-radius: 50%;
}


.main_product .slick-dots li.slick-active button {
    background: #ff0;
}

.main_content {
    background: #f9f9f9;
}

.main_content .tab_menu {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.main_content .tab_menu button {
    position: relative;
    height: 40px;
    padding: 0 16px;
    border-bottom: 1px solid #ddd;
}

.main_content .tab_menu button::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 1px;
    background: rgb(3, 30, 107);
    transition: 0.5s;
}

.main_content .tab_menu button.on::after {
    width: 100%;
}

.main_content .tab_content .con {
    display: flex;
    gap: 30px;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

.main_content .tab_content .con.on {
    visibility: visible;
    height: auto;
}

.main_content .tab_content .con>* {
    flex: 1;
}

.main_content .tab_content .con img {
    background-color: #fff;
}

.main_content .tab_content .con p {
    margin-top: 16px;
    text-align: center;
}


.footer {
    padding: 80px 0;
    background: #1e2744;
}

.footer .sns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer .customer {
    display: flex;
    justify-content: center;
    gap: 40px;
    white-space: nowrap;
    margin-top: 24px;
}

.footer .customer li {
    position: relative;
}

.footer .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: #aaa;
}

.footer .customer a {
    color: #fff;
}

.footer .tel {
    color: #fff;
    margin-top: 8px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.footer address {
    margin-top: 24px;
    color: #aaa;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
}

.footer .f_lnk {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer #lnk {
    background: #1e2744;
    height: 40px;
    padding: 0 16px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #ddd;
}

.to_top {
    position: fixed;
    bottom: 160px;
    right: -80px;
    z-index: 999;
    width: 40px;
    height: 40px;
    background: #1e2744;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
    right: 160px;
}